<div class="card" >
    <img [src]="Currentprod?.imgURL  " class="card-img-top" alt="..." width="200px" height="200px">
    <div class="card-body">
      <h5 class="card-title">The Product Name : {{Currentprod?.name}}</h5>
      <h5 class="card-title">The Product Quantity : {{Currentprod?.quantity}}</h5>
      <h5 class="card-title">The Product Price : {{Currentprod?.price}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>